.heading2 {
  font-family: var(--mantine-font-family);
  font-size: 2.125rem;
  font-weight: 800;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.85rem;
    line-height: 1;
  }
}

.heading3 {
  font-family: var(--mantine-font-family);
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.quote {
  font-family: var(--mantine-font-family);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
  font-style: italic;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.2;
}

.quote::before {
  content: '"';
}

.quote::after {
  content: '"';
}

.para {
  font-family: var(--mantine-font-family);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
  font-size: 1.15rem;
  margin-bottom: 0;
  line-height: 2;
}

.strong {
  font-weight: 600;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));
}

.order_list {
  font-family: var(--mantine-font-family);
  font-size: 1.15rem;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
  padding: 0;
  padding-left: 1.5rem;
}

.order_list > li {
  line-height: 2;
  margin-bottom: 1rem;
}

.about_section {
  border-radius: 0.5rem;
  border: 1px solid var(--mantine-color-gray-7);
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-gray-8)
  );
  max-width: var(--mantine-breakpoint-lg);
  margin-left: auto;
  margin-right: auto;
  min-width: fit-content;
  padding: 2rem;
}

.about_section > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  @media (min-width: $mantine-breakpoint-md) {
    flex-wrap: nowrap;
  }
}

.about_section > div > div {
  padding-left: 1rem;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-left: 0;
  }
}

.author_image {
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.about_author {
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-white));
  font-family: var(--mantine-font-family);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}

.about_desc {
  margin-top: 0;
  font-family: var(--mantine-font-family);
  font-size: 1.15rem;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
  margin-bottom: 0;
  line-height: 1.5;
}

.about_links {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  list-style: none;
}

.about_links > li {
  padding: 5px;
  line-height: 1;
}

.about_link {
  font-size: 0.75rem;
  height: 1rem;
  font-weight: 600;
  color: light-dark(var(--mantine-primary-color-filled));
  text-decoration: none;
}

.about_link:hover {
  color: var(--mantine-color-orange-5);
}
