@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.wrapper {
	justify-content: center;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-8)
	);
}

.inner {
	align-items: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 40px;

	@media (max-width: $mantine-breakpoint-sm) {
		padding-bottom: 80px;
		padding-top: 40px;
	}
}

.title {
	text-align: center;
	font-family: "Outfit", sans-serif;
	font-size: 72px;
	font-weight: 900;
	line-height: 1.1;
	margin: 0;
	padding: 0;
	color: light-dark(var(--txt-primary-light), var(--txt-primary-dark));

	@media (max-width: $mantine-breakpoint-sm) {
		font-size: 42px;
		line-height: 1.2;
	}
}

.description {
	text-align: center;
	font-size: 1.2rem;
	font-family: monospace;
	margin-bottom: 2rem;
	color: light-dark(var(--txt-secondary-light), var(--txt-secondary-dark));

	@media (max-width: $mantine-breakpoint-sm) {
		font-size: 18px;
	}
}

.section {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
}

.grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;

	@media (min-width: $mantine-breakpoint-xs) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $mantine-breakpoint-lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* OSS'24 Logo */
.logo {
	width: 18rem;
	height: 8rem;
	background-image: light-dark(
		url("https://resources.fossuok.org/2024/images/summit_logo_dark.webp"),
		url("https://resources.fossuok.org/2024/images/summit_logo.webp")
	);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

/* CTA Buttons */
.ctaButtons {
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.75rem;
	padding: 0 1.5rem;
	border-radius: 9999px;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	transition: transform 0.2s;
	border: 1px solid;
	border-color: light-dark(#3d3d3d17, #ffffff17);
}

.primary {
	background-color: var(--clr-primary);
	color: white;
}

.secondary {
	color: light-dark(var(--clr-primary), #ffffff);
	background: light-dark(#f3e9fd, #2563eb1a);
}

.btn:hover {
	transform: scale(1.05);
}

/* Stat Cards */
.statsContainer {
	margin-top: 2rem;
	font-family: monospace;
}

@media (min-width: 640px) {
	.statsContainer {
		margin-top: 3rem;
	}
}

.statsGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	text-align: center;
}

@media (min-width: 640px) {
	.statsGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

.statCard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid;
	padding: 2rem;
	border-radius: 0.5rem;
	background-color: light-dark(#f3f4f6, #1f2937);
	border-color: light-dark(#fff, #111827);
}

.statTitle {
	order: 2;
	font-size: 1.125rem;
	font-weight: 500;
	color: light-dark(var(--txt-secondary-light), var(--txt-secondary-dark));
}

.statValue {
	order: 1;
	font-size: 2.5rem;
	font-weight: 800;
	color: light-dark(var(--txt-primary-light), var(--txt-primary-dark));
	text-align: center;
	margin: 0;
}

@media (min-width: 768px) {
	.statValue {
		font-size: 3rem;
	}
}

.highlight {
	color: var(--clr-primary);
}

.partners {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1rem;
	border-radius: 15px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.partnerTitle {
	text-align: center;
	color: rgb(46, 46, 46);
	font-weight: 500;
}

.partnerLogoRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 1rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
	gap: 2rem;
}

.partnerLogo {
	width: 10rem;
}

@media (min-width: 768) {
	.partnerLogo {
		width: 6rem;
	}
}

.speakerSectionTitle {
	text-align: left;
	font-family: "Outfit", sans-serif;
	font-size: 3rem;
	font-weight: bold;
	color: light-dark(var(--txt-primary-light), var(--txt-primary-dark));
	margin-top: 3rem;
}

.speakers {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: 1rem;
	padding-bottom: 2rem;
	justify-items: center;
	align-items: flex-start;
	gap: 3rem;
}

@media (max-width: 960px) {
	.speakers {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 680px) {
	.speakers {
		grid-template-columns: repeat(2, 1fr);
	}
	.speakerCard {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.speakerSectionTitle {
		font-size: 2rem;
	}
}

@media (max-width: 480px) {
	.speakers {
		grid-template-columns: repeat(1, 1fr);
	}
	.speakerCard {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.speakerCard {
	display: flex;
	flex-direction: column;
}

.speakerImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.speakerName {
	font-weight: 700;
	color: light-dark(var(--txt-primary-light), var(--txt-primary-dark));
	font-size: 1.2rem;
	padding-top: 1.6rem;
}

.speakerTitle {
	font-weight: 400;
	color: light-dark(var(--txt-secondary-light), var(--txt-secondary-dark));
	font-size: 1rem;
	padding-top: 0.5rem;
}

.speakerImgContainer {
	position: relative;
}

.speakerLink {
	position: absolute;
	bottom: 0.6rem;
	left: 0.6rem;
}

.speakerLinkedin {
	width: 2rem;
	height: 2rem;
	background-color: #1a1a1a;
	padding: 6px;
	border-radius: 50%;
	fill: #f5f5f5;
	transition: fill 0.3s ease-in-out;
}

.eventSectionTitle {
	text-align: center;
	font-family: "Outfit", sans-serif;
	font-size: 3rem;
	font-weight: bold;
	color: light-dark(var(--txt-primary-light), var(--txt-primary-dark));
	margin-top: 2rem;
	margin-bottom: 0;
}

.eventSectionDes {
	display: block;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 400;
	color: light-dark(var(--txt-secondary-light), var(--txt-seconadary-dark));
	margin-bottom: 3rem;
}

.commiteeSectionTitle {
	text-align: center;
	font-family: "Outfit", sans-serif;
	font-size: 2.6rem;
	font-weight: bold;
	color: light-dark(var(--txt-primary-light), var(--txt-primary-dark));
	margin-top: 3rem;
	margin-bottom: 2rem;
}

@media (max-width: 680px) {
	.commiteeSectionTitle {
		font-size: 2rem;
	}
}
