.group {
    border-radius: 0.5rem;
    border: light-dark(1px, 0) solid;
    box-shadow: light-dark(0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06), none);
    border-color: light-dark(
        var(--mantine-color-gray-3), 
        var(--mantine-color-gray-7)
    );
    background-color: light-dark(
        var(--mantine-color-gray-1), 
        var(--mantine-color-gray-8)
    );
}

.link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid var(--mantine-color-gray-1);
    padding: 1rem;
    text-decoration: none;

    @media (min-width: $mantine-breakpoint-sm) {
        padding: 1.5rem;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        padding: 2rem;
    }
}

.span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.5rem;
    background-image: linear-gradient(
        to right, 
        var(--mantine-color-green-3), 
        var(--mantine-color-blue-5),
        var(--mantine-color-grape-6)
    );
}

.header {
    @media (min-width: $mantine-breakpoint-sm) {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
    }
}

.title {
    margin: 0;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: 1.75rem;
    color: light-dark(
        var(--mantine-color-gray-9),
        var(--mantine-color-white)
    );

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 1.125rem;
        line-height: 2rem;
    }
}

.author {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    color: light-dark(
        var(--mantine-color-gray-7),
        var(--mantine-color-gray-3)
    );
}

.hidden {
    display: none;
}

@media (min-width: $mantine-breakpoint-sm) {
    .hidden {
        display: block;
        flex-shrink: 0;
    }
}

.image {
    width: 4rem;
    max-height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.publish {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;

    @media (min-width: $mantine-breakpoint-sm) {
        gap: 1.5rem;
    }
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.event {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
}

.held {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-4));
}