.wrapper {
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(
    var(--mantine-color-body),
    var(--mantine-color-dark-6)
  );
}

.inner {
  align-items: center;

  padding-top: 80px;
  padding-bottom: 120px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 80px;
    padding-top: 60px;
  }
}
.title {
  margin-bottom: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}

.item {
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}

.background {
  height: fit-content;
  background-color: light-dark(var(--mantine-color-dark-8), transparent);
  border-radius: var(--mantine-radius-lg);
}
