.wrapper {
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
  min-height: 100vh;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 100px;
    padding-top: 60px;
  }
}

.title {
  text-align: center;
  font-family: var(--mantine-font-family);
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 42px;
    line-height: 1.2;
  }
}
.advert {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.description {
  text-align: center;
  margin-top: calc(2 * var(--mantine-spacing-xl));
  font-size: 24px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 18px;
  }
}

.controls {
  justify-content: center;
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 44px;
  padding-left: 38px;
  padding-right: 38px;
  min-width: calc(97px + 76px);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 44px;
    padding-left: 38px;
    padding-right: 38px;
  }
}
