.wrapper {
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.inner {
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 80px;
    padding-top: 60px;
  }
}

.title {
  text-align: center;
  font-family: var(--mantine-font-family);
  font-size: 56px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
    line-height: 1.2;
  }
}
.controls {
  justify-content: center;
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}
.description {
  text-align: center;
  /* margin-top: var(--mantine-spacing-md); */
  font-size: 24px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 18px;
  }
}

.btn {
  height: 54px;
  padding-left: 38px;
  padding-right: 38px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 54px;
    padding-left: 18px;
    padding-right: 18px;
    flex: 1;
  }
}
.equalColumns {
  width: 100%;
}

.equalColumns td {
  width: 33.33%;
}

@media (max-width: 600px) {
  .equalColumns td {
    width: auto;
  }
}
