.container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 40px 0;
}

.container .box {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 20px 5px;
  }
}

.container .box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 0%;
  height: 100%;
  text-decoration: none;
  background: var(--mantine---mantine-color-grape-light);
  border-radius: 50px;
  transform: skewX(0deg);
  transition: 0.5s;

  @media (max-width: $mantine-breakpoint-sm) {
    border-radius: 10px;
    width: calc(100% - 30px);
    transform: skewX(0deg);
    left: 20px;
  }
}

.container .box:hover:before,
.container .box:hover:after {
  width: calc(100% - 30px);
  transform: skewX(0deg);
  left: 20px;
}

.container .box[data-type="1"]::before,
.container .box[data-type="1"]::after {
  background: linear-gradient(315deg, #000000, #050d21);
}

.container .box[data-type="2"]::before,
.container .box[data-type="2"]::after {
  background: linear-gradient(315deg, #9333ea, #050d21);
}

.container .box[data-type="3"]::before,
.container .box[data-type="3"]::after {
  background: linear-gradient(315deg, #050d21, #050d21);
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  left: 0;
  padding: 30px 40px;
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  }
}

.container .box:hover .content {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  padding: 30px 40px;
}

.container .box .content h2 {
  font-size: 2em;

  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;

  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box::before,
.container .box::after,
.container .box .content {
  transition: all 0.5s ease-in-out;
  transition-delay: 5s; /* Delays reset after hover ends */
}

.container .box:hover::before,
.container .box:hover::after,
.container .box:hover .content {
  transition-delay: 0s; /* Instant effect on hover */
}
